<!DOCTYPE html>
<html>
  <head>
    <title>VTD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <div class='row'>
      <%= yield %>
      </div>
      <footer>
        <h1 class="icon-VTD">VTD</h1>

        <%# ハンバーガーメニューの内容 %>
        <div id="sp-menu">
          <ul>
            <li><a href="#">museum</a></li>
            <li><a href="#">artist</a></li>
            <li><a href="#">my Gallery</a></li>
            <li><a href="#">about</a></li>
          </ul>
        </div>

        <%# ハンバーガーメニュー %>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </footer>
      <%= javascript_include_tag 'application.js' %>
      </div>
    </body>
</html>
